
<!DOCTYPE html>
<html>
<head>
<title><?=Config::get('site_name')?></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



        <script type="text/javascript" src="../webroot/js/move-top.js"></script>
        <script type="text/javascript" src="../webroot/js/easing.js"></script>
        <script src="../webroot/js/jquery-1.11.1.min.js"></script>
        <script src="../webroot/js/modernizr.custom.js"></script>
        <link href="../webroot/css/bootstrap.css" rel="stylesheet">
        <link href="../webroot/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="../webroot/js/move-top.js"></script>
        <script type="text/javascript" src="../webroot/js/easing.js"></script>

<!---- start-smoth-scrolling---->
        <script type="text/javascript" src="<?php SITEPATH.DS.'webroot'.DS ?>js/move-top.js"></script>
        <script type="text/javascript" src="<?php SITEPATH.DS.'webroot'.DS ?>js/easing.js"></script>
        <script src="<?php SITEPATH.DS.'webroot'.DS ?>js/jquery-1.11.1.min.js"></script>
		<script src="<?php SITEPATH.DS.'webroot'.DS ?>js/modernizr.custom.js"></script>
		<link href="<?php SITEPATH.DS.'webroot'.DS ?>css/bootstrap.css" rel="stylesheet">
		<link href="<?php SITEPATH.DS.'webroot'.DS ?>css/style.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="<?php SITEPATH.DS.'webroot'.DS ?>js/move-top.js"></script>
        <script type="text/javascript" src="<?php SITEPATH.DS.'webroot'.DS ?>js/easing.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->  

<!---- start-smoth-scrolling---->
       
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){     
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
                });
            });
        </script>
<!---- start-smoth-scrolling---->
</head>
