<!--works start here-->
<div class="work">
    <div class="container">
        <div class="work-main">
               <div class="col-md-4 work-wrapper">      
                            <a href="img/a3.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Stylish Girl">
                             <img src="<?php SITEPATH.DS.'webroot'.DS ?>img/a3.jpg" alt="" class="img-responsive"><div class="b-wrapper">
                                </div></a>
                         <div class="work-details">
                          <h3>Sed perspiciatis</h3>
                         <p>plane is unbelivable tempor augue id nulla luctus, in imperdiet est ultricies tempor augue id nulla luctus, in imperdiet est ultricies</p>
                       </div>
               </div>
               <div class="col-md-4 work-wrapper">      
                            <a href="img/a2.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Stylish Girl">
                             <img src="<?php SITEPATH.DS.'webroot'.DS ?>img/a2.jpg" alt="" class="img-responsive"><div class="b-wrapper">
                                </div></a>
                         <div class="work-details">
                          <h3>Sed perspiciatis</h3>
                         <p>plane is unbelivable tempor augue id nulla luctus, in imperdiet est ultricies tempor augue id nulla luctus, in imperdiet est ultricies</p>
                       </div>
               </div>
               <div class="col-md-4 work-wrapper">      
                            <a href="img/a1.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Stylish Girl">
                             <img src="<?php SITEPATH.DS.'webroot'.DS ?>img/a1.jpg" alt="" class="img-responsive"><div class="b-wrapper">
                                </div></a>
                         <div class="work-details">
                          <h3>Sed perspiciatis</h3>
                         <p>plane is unbelivable tempor augue id nulla luctus, in imperdiet est ultricies tempor augue id nulla luctus, in imperdiet est ultricies</p>
                       </div>
               </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="<?php SITEPATH.DS.'webroot'.DS ?>css/swipebox.css">
    <script src="<?php SITEPATH.DS.'webroot'.DS ?>js/jquery.swipebox.min.js"></script> 
        <script type="text/javascript">
            jQuery(function($) {
                $(".swipebox").swipebox();
            });
</script>
    <!-- services -->
    <div id="services" class="services">
        <!-- container -->
        <div class="container">
            <div class="service-info">
                <h3>Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel risus non mauris volutpat pellentesque. Sed rhoncus, arcu nec euismod ultrices tellus nulla varius tellus ac blandit nunc ex vel felis pellentesque imperdiet imperdiet nibh</p>
            </div>
            <div class="specialty-grids-top">
                <div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                    <figure class="icon">
                        <img src="<?php SITEPATH.DS.'webroot'.DS ?>img/1.png" alt="" />
                    </figure>
                    <h5>Proin eget ipsum ultrices</h5>
                    <p>Sed ut perspiciis iste natus error sit voluptatem accusantium doloremque laudantium elerisque ipsum vehicula pharetra laoreet.</p>
                </div>
                <div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                    <figure class="icon">
                        <img src="<?php SITEPATH.DS.'webroot'.DS ?>img/2.png" alt="" />
                    </figure>
                    <h5>Proin eget ipsum ultrices</h5>
                    <p>Sed ut perspiciis iste natus error sit voluptatem accusantium doloremque laudantium elerisque ipsum vehicula pharetra laoreet.</p>
                </div>
                <div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                    <figure class="icon">
                        <img src="<?php SITEPATH.DS.'webroot'.DS ?>img/3.png" alt="" />
                    </figure>
                    <h5>Proin eget ipsum ultrices</h5>
                    <p>Sed ut perspiciis iste natus error sit voluptatem accusantium doloremque laudantium elerisque ipsum vehicula pharetra laoreet.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!--/services-->
    <!----------->
        <div class="content-news">
            <div class="container">
                <h3 class="m_1"><span>News</span></h3>
                <div class="news-left">         
                    <div class="col-md-6 col-news-right">
                        <div class="col-bottom">
                            <h6>Claritas est etiam </h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem  </p>
                            <a href="#" class="more"> MORE</a>
                        </div>
                        <div class="col-bottom">
                            <h6>Claritas est etiam </h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem  </p>
                            <a href="#" class="more"> MORE</a>
                        </div>
                        <div class="col-bottom">
                            <h6>Claritas est etiam </h6>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem  </p>
                            <a href="#" class="more"> MORE</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 col-news">
                        <div class="col-news-top">
                            <a href="#" class="date-in">
                                <img class="img-responsive mix-in" src="img/pc.jpg" alt="">
                                <div class="month-in">
                                  <label>
                                    <span class="day">06</span>
                                    <span class="month">January</span>
                                  </label>
                                </div>
                            </a>
                            <div class="clearfix"> </div>
                        </div>                  
                        <div class="col-news-top">
                            <a href="#" class="date-in">
                                <img class="img-responsive mix-in" src="img/pc1.jpg" alt="">
                                <div class="month-in">
                                  <label>
                                    <span class="day">14</span>
                                    <span class="month">Feb</span>
                                  </label>
                                </div>
                            </a>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="col-news-top">
                            <a href="#" class="date-in">
                                <img class="img-responsive mix-in" src="img/pc2.jpg" alt="">
                                <div class="month-in">
                                  <label>
                                    <span class="day">24</span>
                                    <span class="month">March</span>
                                  </label>
                                </div>
                            </a>
                            <div class="clearfix"> </div>
                        </div>                  
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    <!------------>
    <!--information-->
    <div class="information-section">
        <div class="container">
            <div class="information-grids wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                <div class="col-md-4 info-grid loction">
                    <h3>Location</h3>
                     <ul class="loction-text">
                            <li>10-765 mg-Road,</li>
                            <li>Washington, DC, United States,</li> 
                            <li>ud-19832-6578.,</li>
                            <li><img src="<?php SITEPATH.DS.'webroot'.DS ?>img/mail.png" alt=""></li> 
                            <li><a href="mailto:info@example.com">mail@example.com</a></li>
                            <div class="clearfix"> </div>   
                        </ul>

                </div>
                <div class="col-md-4 info-grid information">
                    <h3>Information</h3>
                    <div class="list styled arrow-list2 two">
                        <ul>
                            <li><a href="#"><img src="<?php SITEPATH.DS.'webroot'.DS ?>img/tick1.png" alt="">Nulla ullamcorper porttitor</a></li>
                            <li><a href="#"><img src="<?php SITEPATH.DS.'webroot'.DS ?>img/tick1.png" alt="">Fusce consequat porta leo</a></li>
                            <li><a href="#"><img src="<?php SITEPATH.DS.'webroot'.DS ?>img/tick1.png" alt="">Consectetur adipiscing elit</a></li>
                            <li><a href="#"><img src="<?php SITEPATH.DS.'webroot'.DS ?>img/tick1.png" alt="">Netus et malesuada fames</a></li>
                                <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 info-grid custom">
                    <h3>Custom Block</h3>
                    <h4>Quisque maximus purus in </h4>
                    <p>Sed tristique orci ante, sit amet tempor diam tincidunt eget. Cras sit amet congue urna, auctor tempus mauris. Mauris non ultrices erat, non vehicula orci.</p>
                </div>
                    <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--/information-->